@font-face {
  font-family: 'fira-sanslight';
  src: url('../../fonts/FiraSans/FiraSans-Light.eot');
  src: url('../../fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/FiraSans/FiraSans-Light.woff') format('woff'),
  url('../../fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fira-sansmedium';
  src: url('../../fonts/FiraSans/FiraSans-Medium.eot');
  src: url('../../fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
  url('../../fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@mixin font($style) {
  @if $style == medium {
    font-family: 'fira_sansmedium', sans-serif;
  }

  @if $style == light {
    font-family: 'fira_sanslight', sans-serif;
  }
}

// adjustment variables
$container-width: 620px;
$container-height: 490px;
$body-font: "fira-sansmedium", sans-serif;

//colors
$accent: #ff8663;
$background: rgba(0, 0, 0, .4);
$text: #4f4f4f;
$blue: #03a9f4;

::-webkit {
  &-scrollbar {
    width: 3px;
    height: 3px;
    &-thumb {
      background: #c4c4c4;
      border-radius: 2px;
    }
  }
}

#headerInfo {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}


body {
  font: 12px $body-font;
  color: $text;
  background-color: $background;
}

.ff {
  &-wrap {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &-logo {
    width: 100px;
    margin: 0 auto 5px;
  }

  &-container {
    height: 100%;
    width: 100%;
    max-height: $container-height;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background: #ffffff;
  }

  &-header {
    background-color: $accent;
    display: block;
    font-size: 1.33rem;
    color: #ffffff;
    padding: 14px 18px 14px 16px;
  }

  &-body {
    flex: 1 0 auto;
    display: flex;

    &__left {
      &_list {
        box-shadow: inset -1px 0 0 0 #f0f0f0;
      }
    }

    &__left,
    &__right {
      width: 50%;
      align-self: stretch;

      &_search {
        background-color: #f0f0f0;
        padding: 10px 15px;

        input {
          width: 100%;
          color: #9f9f9f;
          padding: 9px 10px 7px 30px;
          outline: none;
          border: none;
          border-radius: 20px;
        }

        &-input {
          position: relative;

          &::before {
            content: '\f002';
            font-family: 'FontAwesome';
            font-size: 14px;
            position: absolute;
            color: #9f9f9f;
            left: 10px;
            top: 7px;
          }
        }
      }

      &_list {
        padding: 15px 15px 0;
        overflow: hidden;
        max-height: 100%;

        p {
          border-bottom: 1px solid #f0f0f0;
          margin: 0;
          padding-bottom: 2px;
        }
      }

      &_friends {
        overflow-y: scroll;
        height: 295px;
      }
    }
  }

  &-footer {
    background-color: #f0f0f0;
    padding: 7px;

    &__save {
      border: none;
      outline: none;
      background-color: $accent;
      color: #fff;
      float: right;
      @include font(light);
      padding: 10px 15px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color .3s ease;

      &:hover {
        background-color: lighten($accent, 2%);
      }

      &:active {
        background-color: darken($accent, 5%);
      }
    }
  }
}

#allFriends,
#listFriends {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;

  li {
    padding: 6px 40px 6px 6px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      cursor: move;
      background-color: #f0f0f0;
    }
    img {
      border-radius: 50%;
      margin-right: 8px;
      width: 45px;
      height: 45px;
    }

    img, span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #c4c4c4;
    padding: 0;

    .fa {
      &::before {
        font-size: 1.3rem;
      }
    }
  }
}